---
http_interactions:
- request:
    method: get
    uri: https://api.virtuoussoftware.com/api/Contact/3666
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer v1iO46y9qiqyXiz8D4ZTugnpIVIv6KXEsReKZ8EuOFHJT29thIXQW1XUWbtykR66_4UtSoQIaUTTjuFcFY5iidQin8SE17IF7PebkqgeC0UPT-Z4G4v6fPVJ1IDLGxCSTfYe_CZ3tlSnQdzcT7ICmEAPI6i_GsL4TL4uCPFfmIgB0Cqn68kh3BBKtMCOWbsYdhP_U4OJDlCgYBG3AkKqpgDAH0H9Cb1DJO1x3o4TVn06_QQHDLDHfAccZHn2lUPbB_7s6f7UtKc_X_YmAcTMUFOd8POeyF3mNRbOY6xSM0cMvhLnPj93yEA_WI75WB-swJyHILIyv6ccUUZ6KmS16SAWOqzjKho9ccQg6-TKCoezQ2yvDlLrsA2H-V7X09PU7MWX6mn9nyGD1SDmt_5y-skiPhekNLoYnvp-2LOo619-HuVOChY0-_N3r5k6xwiimX797esP7KZIvveU5oOYjRY1QuFb0S8eg5aIZi9apWjBN9WfX4XfTcwTSVisZo0O3Xs34NyVERTvMfL-CX3sOoKSOB5hnc2V1gy7c8m08mD0jyRh
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"id\": 3666,\r\n  \"contactType\": \"Household\",\r\n  \"isPrivate\":
        false,\r\n  \"name\": \"James & Jessica King\",\r\n  \"informalName\": \"James\",\r\n
        \ \"description\": null,\r\n  \"website\": null,\r\n  \"anniversaryMonth\":
        null,\r\n  \"anniversaryDay\": null,\r\n  \"address\": {\r\n    \"id\": 4319,\r\n
        \   \"label\": \"Imported Address\",\r\n    \"address1\": \"91 Old Post Rd.\",\r\n
        \   \"address2\": null,\r\n    \"city\": \"Oswego\",\r\n    \"state\": \"IL\",\r\n
        \   \"postal\": \"60543\",\r\n    \"country\": \"United States\",\r\n    \"isPrimary\":
        true,\r\n    \"canBePrimary\": false,\r\n    \"startMonth\": 1,\r\n    \"startDay\":
        1,\r\n    \"endMonth\": 12,\r\n    \"endDay\": 31\r\n  },\r\n  \"giftAskAmount\":
        \"\",\r\n  \"giftAskType\": null,\r\n  \"lifeToDateGiving\": \"$0\",\r\n  \"yearToDateGiving\":
        \"$0\",\r\n  \"lastGiftAmount\": \"$0\",\r\n  \"lastGiftDate\": \"Unavailable\",\r\n
        \ \"contactIndividuals\": [\r\n    {\r\n      \"id\": 6758,\r\n      \"prefix\":
        null,\r\n      \"firstName\": \"James\",\r\n      \"middleName\": \"\",\r\n
        \     \"lastName\": \"King\",\r\n      \"suffix\": null,\r\n      \"gender\":
        \"Male\",\r\n      \"isPrimary\": true,\r\n      \"canBePrimary\": false,\r\n
        \     \"birthMonth\": 12,\r\n      \"birthDay\": 23,\r\n      \"birthYear\":
        1980,\r\n      \"birthDate\": \"12/23/1980\",\r\n      \"approximateAge\":
        36,\r\n      \"isDeceased\": false,\r\n      \"passion\": null,\r\n      \"avatarUrl\":
        null,\r\n      \"contactMethods\": [\r\n        {\r\n          \"id\": 8067,\r\n
        \         \"type\": \"Mobile Phone\",\r\n          \"value\": \"815-508-0255\",\r\n
        \         \"isOptedIn\": true,\r\n          \"isPrimary\": true,\r\n          \"canBePrimary\":
        false\r\n        },\r\n        {\r\n          \"id\": 8068,\r\n          \"type\":
        \"Home Email\",\r\n          \"value\": \"jsking13@yahoo.com\",\r\n          \"isOptedIn\":
        true,\r\n          \"isPrimary\": true,\r\n          \"canBePrimary\": false\r\n
        \       }\r\n      ],\r\n      \"customFields\": [\r\n        {\r\n          \"dataType\":
        \"Text\",\r\n          \"name\": \"Job Position\",\r\n          \"value\":
        null\r\n        }\r\n      ]\r\n    }\r\n  ],\r\n  \"isCurrentUserFollowing\":
        false,\r\n  \"contactGiftsUrl\": \"/api/Gift/ByContact/3666\",\r\n  \"contactPassthroughGiftsUrl\":
        \"/api/Gift/Passthrough/ByContact/3666\",\r\n  \"contactPlannedGiftsUrl\":
        \"/api/PlannedGift/ByContact/3666\",\r\n  \"contactPledgesUrl\": \"/api/Pledge/ByContact/3666\",\r\n
        \ \"contactImportantNotesUrl\": \"/api/ContactNote/Important/ByContact/3666\",\r\n
        \ \"contactNotesUrl\": \"/api/ContactNote/ByContact/3666\",\r\n  \"contactTagsUrl\":
        \"/api/ContactTag/ByContact/3666\",\r\n  \"contactRelationshipsUrl\": \"/api/Relationship/ByContact/3666\",\r\n
        \ \"primaryAvatarUrl\": null,\r\n  \"customFields\": [\r\n    {\r\n      \"dataType\":
        \"Text\",\r\n      \"name\": \"Quickbooks ID\",\r\n      \"value\": \"King,
        James\"\r\n    },\r\n    {\r\n      \"dataType\": \"Text\",\r\n      \"name\":
        \"Acts 29 ID\",\r\n      \"value\": null\r\n    },\r\n    {\r\n      \"dataType\":
        \"Text\",\r\n      \"name\": \"Assessment App ID\",\r\n      \"value\": null\r\n
        \   },\r\n    {\r\n      \"dataType\": \"DateTime\",\r\n      \"name\": \"Cov[...]
