---
http_interactions:
- request:
    method: get
    uri: https://api.virtuoussoftware.com/api/Contact/ByTag/37?skip=0&take=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer v1iO46y9qiqyXiz8D4ZTugnpIVIv6KXEsReKZ8EuOFHJT29thIXQW1XUWbtykR66_4UtSoQIaUTTjuFcFY5iidQin8SE17IF7PebkqgeC0UPT-Z4G4v6fPVJ1IDLGxCSTfYe_CZ3tlSnQdzcT7ICmEAPI6i_GsL4TL4uCPFfmIgB0Cqn68kh3BBKtMCOWbsYdhP_U4OJDlCgYBG3AkKqpgDAH0H9Cb1DJO1x3o4TVn06_QQHDLDHfAccZHn2lUPbB_7s6f7UtKc_X_YmAcTMUFOd8POeyF3mNRbOY6xSM0cMvhLnPj93yEA_WI75WB-swJyHILIyv6ccUUZ6KmS16SAWOqzjKho9ccQg6-TKCoezQ2yvDlLrsA2H-V7X09PU7MWX6mn9nyGD1SDmt_5y-skiPhekNLoYnvp-2LOo619-HuVOChY0-_N3r5k6xwiimX797esP7KZIvveU5oOYjRY1QuFb0S8eg5aIZi9apWjBN9WfX4XfTcwTSVisZo0O3Xs34NyVERTvMfL-CX3sOoKSOB5hnc2V1gy7c8m08mD0jyRh
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"list\": [\r\n    {\r\n      \"id\": 1246,\r\n      \"name\":
        \"Chris Amaro\",\r\n      \"contactType\": \"Household\",\r\n      \"contactName\":
        \"Chris Amaro\",\r\n      \"address\": \"Mesa, AZ\",\r\n      \"email\": \"chrisamaro@redemptionaz.com\",\r\n
        \     \"phone\": \"6026289858\",\r\n      \"contactViewUrl\": \"/api/Contact/1246\"\r\n
        \   },\r\n    {\r\n      \"id\": 1251,\r\n      \"name\": \"Peter Jannetti\",\r\n
        \     \"contactType\": \"Household\",\r\n      \"contactName\": \"Peter Jannetti\",\r\n
        \     \"address\": \"Farmingville, NY\",\r\n      \"email\": \"pjannetti@optonline.net\",\r\n
        \     \"phone\": \"6314959055\",\r\n      \"contactViewUrl\": \"/api/Contact/1251\"\r\n
        \   },\r\n    {\r\n      \"id\": 1252,\r\n      \"name\": \"Sam Pedigo\",\r\n
   [...]
- request:
    method: post
    uri: https://api.virtuoussoftware.com/api/Contact/Search?skip=0&take=10
    body:
      encoding: UTF-8
      string: search[search]=Chris
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer v1iO46y9qiqyXiz8D4ZTugnpIVIv6KXEsReKZ8EuOFHJT29thIXQW1XUWbtykR66_4UtSoQIaUTTjuFcFY5iidQin8SE17IF7PebkqgeC0UPT-Z4G4v6fPVJ1IDLGxCSTfYe_CZ3tlSnQdzcT7ICmEAPI6i_GsL4TL4uCPFfmIgB0Cqn68kh3BBKtMCOWbsYdhP_U4OJDlCgYBG3AkKqpgDAH0H9Cb1DJO1x3o4TVn06_QQHDLDHfAccZHn2lUPbB_7s6f7UtKc_X_YmAcTMUFOd8POeyF3mNRbOY6xSM0cMvhLnPj93yEA_WI75WB-swJyHILIyv6ccUUZ6KmS16SAWOqzjKho9ccQg6-TKCoezQ2yvDlLrsA2H-V7X09PU7MWX6mn9nyGD1SDmt_5y-skiPhekNLoYnvp-2LOo619-HuVOChY0-_N3r5k6xwiimX797esP7KZIvveU5oOYjRY1QuFb0S8eg5aIZi9apWjBN9WfX4XfTcwTSVisZo0O3Xs34NyVERTvMfL-CX3sOoKSOB5hnc2V1gy7c8m08mD0jyRh
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"list\": [],\r\n  \"total\": 0\r\n}"
  recorded_at: Mon, 23 Oct 2017 14:11:24 GMT
recorded_with: VCR 3.0.3
