---
http_interactions:
- request:
    method: get
    uri: https://api.virtuoussoftware.com/api/Contact/ByTag/37?skip=0&take=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer v1iO46y9qiqyXiz8D4ZTugnpIVIv6KXEsReKZ8EuOFHJT29thIXQW1XUWbtykR66_4UtSoQIaUTTjuFcFY5iidQin8SE17IF7PebkqgeC0UPT-Z4G4v6fPVJ1IDLGxCSTfYe_CZ3tlSnQdzcT7ICmEAPI6i_GsL4TL4uCPFfmIgB0Cqn68kh3BBKtMCOWbsYdhP_U4OJDlCgYBG3AkKqpgDAH0H9Cb1DJO1x3o4TVn06_QQHDLDHfAccZHn2lUPbB_7s6f7UtKc_X_YmAcTMUFOd8POeyF3mNRbOY6xSM0cMvhLnPj93yEA_WI75WB-swJyHILIyv6ccUUZ6KmS16SAWOqzjKho9ccQg6-TKCoezQ2yvDlLrsA2H-V7X09PU7MWX6mn9nyGD1SDmt_5y-skiPhekNLoYnvp-2LOo619-HuVOChY0-_N3r5k6xwiimX797esP7KZIvveU5oOYjRY1QuFb0S8eg5aIZi9apWjBN9WfX4XfTcwTSVisZo0O3Xs34NyVERTvMfL-CX3sOoKSOB5hnc2V1gy7c8m08mD0jyRh
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"list\": [\r\n    {\r\n      \"id\": 706,\r\n      \"name\":
        \"Lucas and Su Parks\",\r\n      \"contactType\": \"Household\",\r\n      \"contactName\":
        \"Lucas and Su Parks\",\r\n      \"address\": \"3 Kincora Mews Belfast, Northern
        Ireland BT4 3NG United Kingdom\",\r\n      \"email\": \"lucas@villagebelfast.com\",\r\n
        \     \"phone\": \"07784141013\",\r\n      \"contactViewUrl\": \"/api/Contact/706\"\r\n
        \   },\r\n    {\r\n      \"id\": 713,\r\n      \"name\": \"Todd and Brooke
        Perkins\",\r\n      \"contactType\": \"Household\",\r\n      \"contactName\":
        \"Todd and Brooke Perkins\",\r\n      \"address\": \"178 Ingleaok Ln Greenville,
        SC 29615\",\r\n      \"email\": \"todd@eastnorthchurch.com\",\r\n      \"phone\":
        \"864-365-7063\",\r\n      \"contactViewUrl\": \"/api/Contact/713\"\r\n    },\r\n
        \   {\r\n      \"id\": 816,\r\n      \"name\": \"Josh and Aneliese Walsh\",\r\n
        \     \"contactType\": \"Household\",\r\n      \"contactName\": \"Josh and
        Aneliese Walsh\",\r\n      \"address\": \"4 Boundary Road Port Sunlight Wirral,
        Merseyside CH62 5ES United Kingdom\",\r\n      \"email\": \"josh@cornerstonechurchwirral.org\",\r\n
        \     \"phone\": \"07912304496\",\r\n      \"contactViewUrl\": \"/api/Contact/816\"\r\n
        \   },\r\n    {\r\n      \"id\": 1806,\r\n      \"name\": \"Gary and Claudia
        Cousins\",\r\n      \"contactType\": \"Household\",\r\n      \"contactName\":
        \"Gary and Claudia Cousins\",\r\n      \"address\": \"Seilerweg 6 Binzen,
        Europe 79589 Germany\",\r\n      \"email\": \"garycousins@acts29.com\",\r\n
        \     \"phone\": \"4.91577e+12\",\r\n      \"contactViewUrl\": \"/api/Contact/1806\"\r\n
        \   }\r\n  ],\r\n  \"total\": 4\r\n}"
  recorded_at: Tue, 31 Oct 2017 13:22:58 GMT
- request:
    method: get
    uri: https://api.virtuoussoftware.com/api/Contact/Following?skip=0&take=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer v1iO46y9qiqyXiz8D4ZTugnpIVIv6KXEsReKZ8EuOFHJT29thIXQW1XUWbtykR66_4UtSoQIaUTTjuFcFY5iidQin8SE17IF7PebkqgeC0UPT-Z4G4v6fPVJ1IDLGxCSTfYe_CZ3tlSnQdzcT7ICmEAPI6i_GsL4TL4uCPFfmIgB0Cqn68kh3BBKtMCOWbsYdhP_U4OJDlCgYBG3AkKqpgDAH0H9Cb1DJO1x3o4TVn06_QQHDLDHfAccZHn2lUPbB_7s6f7UtKc_X_YmAcTMUFOd8POeyF3mNRbOY6xSM0cMvhLnPj93yEA_WI75WB-swJyHILIyv6ccUUZ6KmS16SAWOqzjKho9ccQg6-TKCoezQ2yvDlLrsA2H-V7X09PU7MWX6mn9nyGD1SDmt_5y-skiPhekNLoYnvp-2LOo619-HuVOChY0-_N3r5k6xwiimX797esP7KZIvveU5oOYjRY1QuFb0S8eg5aIZi9apWjBN9WfX4XfTcwTSVisZo0O3Xs34NyVERTvMfL-CX3sOoKSOB5hnc2V1gy7c8m08mD0jyRh
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"list\": [],\r\n  \"total\": 0\r\n}"
  recorded_at: Tue, 31 Oct 2017 13:23:08 GMT
- request:
    method: post
    uri: https://api.virtuoussoftware.com/api/Contact/Search?skip=0&take=10
    body:
      encoding: UTF-8
      string: '{"search":"Chris"}'
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer v1iO46y9qiqyXiz8D4ZTugnpIVIv6KXEsReKZ8EuOFHJT29thIXQW1XUWbtykR66_4UtSoQIaUTTjuFcFY5iidQin8SE17IF7PebkqgeC0UPT-Z4G4v6fPVJ1IDLGxCSTfYe_CZ3tlSnQdzcT7ICmEAPI6i_GsL4TL4uCPFfmIgB0Cqn68kh3BBKtMCOWbsYdhP_U4OJDlCgYBG3AkKqpgDAH0H9Cb1DJO1x3o4TVn06_QQHDLDHfAccZHn2lUPbB_7s6f7UtKc_X_YmAcTMUFOd8POeyF3mNRbOY6xSM0cMvhLnPj93yEA_WI75WB-swJyHILIyv6ccUUZ6KmS16SAWOqzjKho9ccQg6-TKCoezQ2yvDlLrsA2H-V7X09PU7MWX6mn9nyGD1SDmt_5y-skiPhekNLoYnvp-2LOo619-HuVOChY0-_N3r5k6xwiimX797esP7KZIvveU5oOYjRY1QuFb0S8eg5aIZi9apWjBN9WfX4XfTcwTSVisZo0O3Xs34NyVERTvMfL-CX3sOoKSOB5hnc2V1gy7c8m08mD0jyRh
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"list\": [\r\n    {\r\n      \"individualId\": 804,\r\n      \"id\":
        395,\r\n      \"name\": \"Christine Adachi\",\r\n      \"contactType\": \"Household\",\r\n
        \     \"contactName\": \"Kenji and Christine Adachi\",\r\n      \"address\":
        \"4513 Rhett Lane Fairfax, VA 22030\",\r\n      \"email\": \"christinebadachi@yahoo.com\",\r\n
        \     \"phone\": \"\",\r\n      \"contactViewUrl\": \"/api/Contact/395\"\r\n
        \   },\r\n    {\r\n      \"individualId\": 2282,\r\n      \"id\": 1257,\r\n
        \     \"name\[...]
