---
http_interactions:
- request:
    method: get
    uri: https://api.virtuoussoftware.com/api/ContactIndividual/33
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer v1iO46y9qiqyXiz8D4ZTugnpIVIv6KXEsReKZ8EuOFHJT29thIXQW1XUWbtykR66_4UtSoQIaUTTjuFcFY5iidQin8SE17IF7PebkqgeC0UPT-Z4G4v6fPVJ1IDLGxCSTfYe_CZ3tlSnQdzcT7ICmEAPI6i_GsL4TL4uCPFfmIgB0Cqn68kh3BBKtMCOWbsYdhP_U4OJDlCgYBG3AkKqpgDAH0H9Cb1DJO1x3o4TVn06_QQHDLDHfAccZHn2lUPbB_7s6f7UtKc_X_YmAcTMUFOd8POeyF3mNRbOY6xSM0cMvhLnPj93yEA_WI75WB-swJyHILIyv6ccUUZ6KmS16SAWOqzjKho9ccQg6-TKCoezQ2yvDlLrsA2H-V7X09PU7MWX6mn9nyGD1SDmt_5y-skiPhekNLoYnvp-2LOo619-HuVOChY0-_N3r5k6xwiimX797esP7KZIvveU5oOYjRY1QuFb0S8eg5aIZi9apWjBN9WfX4XfTcwTSVisZo0O3Xs34NyVERTvMfL-CX3sOoKSOB5hnc2V1gy7c8m08mD0jyRh
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"id\": 33,\r\n  \"prefix\": null,\r\n  \"firstName\": \"Matt\",\r\n
        \ \"middleName\": null,\r\n  \"lastName\": \"Rule\",\r\n  \"suffix\": null,\r\n
        \ \"gender\": null,\r\n  \"isPrimary\": true,\r\n  \"canBePrimary\": false,\r\n
        \ \"birthMonth\": 12,\r\n  \"birthDay\": 12,\r\n  \"birthYear\": 1980,\r\n
        \ \"birthDate\": \"12/12/1980\",\r\n  \"approximateAge\": 36,\r\n  \"isDeceased\":
        false,\r\n  \"passion\": null,\r\n  \"avatarUrl\": null,\r\n  \"contactMethods\":
        [\r\n    {\r\n      \"id\": 41,\r\n      \"type\": \"Home Phone\",\r\n      \"value\":
        \"2815436406\",\r\n      \"isOptedIn\": true,\r\n      \"isPrimary\": true,\r\n
        \     \"canBePrimary\": false\r\n    },\r\n    {\r\n      \"id\": 42,\r\n
        \     \"type\": \"Home Email\",\r\n      \"value\": \"matt@cpnorthcounty.org\",\r\n
        \     \"isOptedIn\": true,\r\n      \"isPrimary\": true,\r\n      \"canBePrimary\":
        false\r\n    }\r\n  ],\r\n  \"customFields\": [\r\n    {\r\n      \"dataType\":
        \"Text\",\r\n      \"name\": \"Job Position\",\r\n      \"value\": null\r\n
        \   }\r\n  ]\r\n}"
  recorded_at: Tue, 31 Oct 2017 13:22:35 GMT
- request:
    method: get
    uri: https://api.virtuoussoftware.com/api/ContactIndividual/ByContact/2526
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer v1iO46y9qiqyXiz8D4ZTugnpIVIv6KXEsReKZ8EuOFHJT29thIXQW1XUWbtykR66_4UtSoQIaUTTjuFcFY5iidQin8SE17IF7PebkqgeC0UPT-Z4G4v6fPVJ1IDLGxCSTfYe_CZ3tlSnQdzcT7ICmEAPI6i_GsL4TL4uCPFfmIgB0Cqn68kh3BBKtMCOWbsYdhP_U4OJDlCgYBG3AkKqpgDAH0H9Cb1DJO1x3o4TVn06_QQHDLDHfAccZHn2lUPbB_7s[...]
- request:
    method: get
    uri: https://api.virtuoussoftware.com/api/ContactIndividual/CustomFields
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer v1iO46y9qiqyXiz8D4ZTugnpIVIv6KXEsReKZ8EuOFHJT29thIXQW1XUWbtykR66_4UtSoQIaUTTjuFcFY5iidQin8SE17IF7PebkqgeC0UPT-Z4G4v6fPVJ1IDLGxCSTfYe_CZ3tlSnQdzcT7ICmEAPI6i_GsL4TL4uCPFfmIgB0Cqn68kh3BBKtMCOWbsYdhP_U4OJDlCgYBG3AkKqpgDAH0H9Cb1DJO1x3o4TVn06_QQHDLDHfAccZHn2lUPbB_7s6f7UtKc_X_YmAcTMUFOd8POeyF3mNRbOY6xSM0cMvhLnPj93yEA_WI75WB-swJyHILIyv6ccUUZ6KmS16SAWOqzjKho9ccQg6-TKCoezQ2yvDlLrsA2H-V7X09PU7MWX6mn9nyGD1SDmt_5y-skiPhekNLoYnvp-2LOo619-HuVOChY0-_N3r5k6xwiimX797esP7KZIvveU5oOYjRY1QuFb0S8eg5aIZi9apWjBN9WfX4XfTcwTSVisZo0O3Xs34NyVERTvMfL-CX3sOoKSOB5hnc2V1gy7c8m08mD0jyRh
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[\r\n  {\r\n    \"dataType\": \"Text\",\r\n    \"name\": \"Job Position\",\r\n
        \   \"options\": null\r\n  }\r\n]"
  recorded_at: Tue, 31 Oct 2017 13:22:40 GMT
recorded_with: VCR 3.0.3
