---
http_interactions:
- request:
    method: put
    uri: https://api.virtuoussoftware.com/api/Contact/2526
    body:
      encoding: UTF-8
      string: '{"contactType":"Household","informalName":"Test Name"}'
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer CxvNvNzQjkXnwScptEMB2UK6nNjPt5iaZffqqd8vdUq_UMD9UyHgC2OsKa5IHirrC8UpWuuMp96YP_U4iFXEB6XGOrSfW3IU3bb5iPDrEVss4rY8f0Hprte3xU2sZNSO4EP4EQiwiw2wNRsdZKrgS_xOSfiRdaftLzM69tzp91uUy2o26VVWS-nZy5IUNnM6vjHhfOOSkh98zvOT8t8jSnLVUSL5na-3UdmFrKkwA5XfPbKQBN2JpAdNYlPURgdjMbRuPceb9F9Y66WXDipZFaDO_2HepIIcyv1O_EtDO1H3D6CVAK6dQPTb0hewmJJsv-jkYvCpU23_7iVbKL1ZIk_VspxhAG8ApE0gxLR0WLPA-GvI5Gzhx225LoQdkl7nOGYj5QQW84OQaiwWAIb96MLLs0CM9dNFcJV7hPBcJ9OvoIEW3X65TWTTw8afN_18ygGI-j96AXCXZ1KfjHLSsQAzj-tSpNbkFaJ3uWg4EY4KS0ADDEjNyabRZnQoN3z-OfrCVRYuRHnjAVXlg018b6WAqUngnHT9_E2uSu9hLecfzaHppgkkoN24hgimhPXi7XYL3w
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"id\": 2526,\r\n  \"contactType\": \"Household\",\r\n  \"isPrivate\":
        false,\r\n  \"name\": \"Samuel Orrico\",\r\n  \"informalName\": \"Test Name\",\r\n
        \ \"description\": null,\r\n  \"website\": null,\r\n  \"anniversaryMonth\":
        null,\r\n  \"anniversaryDay\": null,\r\n  \"address\": {\r\n    \"id\": 2872,\r\n
        \   \"label\": \"Church\",\r\n    \"address1\": \"Miguel Alem n #15\",\r\n
        \   \"address2\": null,\r\n    \"city\": \"Xalapa\",\r\n    \"state\": \"Veracruz\",\r\n
        \   \"postal\": \"\",\r\n    \"country\": \"Mexico\",\r\n    \"isPrimary\":
        true,\r\n    \"canBePrimary\": false,\r\n    \"startMonth\": 1,\r\n    \"startDay\":
        1,\r\n    \"endMonth\": 12,\r\n    \"endDay\": 31\r\n  },\r\n  \"giftAskAmount\":
        \"\",\r\n  \"giftAskType\": null,\r\n  \"lifeToDateGiving\": \"$0\",\r\n  \"yearToDateGiving\":
        \"$0\",\r\n  \"lastGiftAmount\": \"$0\",\r\n  \"lastGiftDate\": \"Unavailable\",\r\n
        \ \"contactIndividuals\": [\r\n    {\r\n      \"id\": 3733,\r\n      \"prefix\":
        null,\r\n      \"firstName\": \"Samuel\",\r\n      \"middleName\": \"\",\r\n
        \     \"lastName\": \"Orrico\",\r\n      \"suffix\": null,\r\n      \"gender\":
        null,\r\n      \"isPrimary\": true,\r\n      \"canBePrimary\": false,\r\n
        \     \"birthMonth\": null,\r\n      \"birthDay\": null,\r\n      \"birthYear\":
        null,\r\n      \"birthDate\": \"\",\r\n      \"approximateAge\": null,\r\n
        \     \"isDeceased\": false,\r\n      \"passion\": null,\r\n      \"avatarUrl\":
        null,\r\n      \"contactMethods\": [\r\n        {\r\n          \"id\": 3335,\r\n
        \         \"type\": \"Twitter\",\r\n          \"value\": \"@comunidadnova\",\r\n
        \         \"isOptedIn\": true,\r\n          \"isPrimary\": false,\r\n          \"canBePrimary\":
        false\r\n        }\r\n      ],\r\n      \"createDateTimeUtc\": \"2017-12-07T20:37:02.8933333\",\r\n
        \     \"modifiedDateTimeUtc\": \"2017-12-07T20:37:02.8933333\",\r\n      \"customFields\":
        [\r\n        {\r\n          \"dataType\": \"Text\",\r\n          \"name\":
        \"Job Title\",\r\n          \"value\": \"Lead Pastor\"\r\n        },\r\n        {\r\n
        \         \"dataType\": \"Text\",\r\n          \"name\": \"Alternative Individual
        Name\",\r\n          \"value\": null\r\n        }\r\n      ]\r\n    }\r\n
        \ ],\r\n  \"isCurrentUserFollowing\": false,\r\n  \"contactGiftsUrl\": \"/api/Gift/ByContact/2526\",\r\n
        \ \"contactPassthroughGiftsUrl\": \"/api/Gift/Passthrough/ByContact/2526\",\r\n
        \ \"contactPlannedGiftsUrl\": \"/api/PlannedGift/ByContact/2526\",\r\n  \"contactPledgesUrl\":
        \"/api/Pledge/ByContact/2526\",\r\n  \"contactImportantNotesUrl\": \"/api/ContactNote/Important/ByContact/2526\",\r\n
        \ \"contactNotesUrl\": \"/api/ContactNote/ByContact/2526\",\r\n  \"contactTagsUrl\":
        \"/api/ContactTag/ByContact/2526\",\r\n  \"contactRelationshipsUrl\": \"/api/Relationship/ByContact/2526\",\r\n
        \ \"primaryAvatarUrl\": null,\r\n  \"createDateTimeUtc\": \"2016-02-10T00:00:00\",\r\n
        \ \"modifiedDateTimeUtc\": \"2018-06-20T11:38:33.0424771Z\",\r\n  \"customFields\":
        [\r\n    {\r\n      \"dataType\": \"Text\",\r\n      \"name\": \"Acts 29 ID\",\r\n
        \     \"value\": \"155427\"\r\n    },\r\n    {\r\n      \"dataType\": \"List\",\r\n
        \     \"name\": \"Network\",\r\n      \"value\": \"Latin America\"\r\n    },\r\n
        \   {\r\n      \"dataType\": \"List\",\r\n      \"name\": \"Regi[...]
