---
http_interactions:
- request:
    method: post
    uri: https://api.virtuoussoftware.com/api/Tag/Search?skip=0&take=10
    body:
      encoding: UTF-8
      string: search=Applicant
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer v1iO46y9qiqyXiz8D4ZTugnpIVIv6KXEsReKZ8EuOFHJT29thIXQW1XUWbtykR66_4UtSoQIaUTTjuFcFY5iidQin8SE17IF7PebkqgeC0UPT-Z4G4v6fPVJ1IDLGxCSTfYe_CZ3tlSnQdzcT7ICmEAPI6i_GsL4TL4uCPFfmIgB0Cqn68kh3BBKtMCOWbsYdhP_U4OJDlCgYBG3AkKqpgDAH0H9Cb1DJO1x3o4TVn06_QQHDLDHfAccZHn2lUPbB_7s6f7UtKc_X_YmAcTMUFOd8POeyF3mNRbOY6xSM0cMvhLnPj93yEA_WI75WB-swJyHILIyv6ccUUZ6KmS16SAWOqzjKho9ccQg6-TKCoezQ2yvDlLrsA2H-V7X09PU7MWX6mn9nyGD1SDmt_5y-skiPhekNLoYnvp-2LOo619-HuVOChY0-_N3r5k6xwiimX797esP7KZIvveU5oOYjRY1QuFb0S8eg5aIZi9apWjBN9WfX4XfTcwTSVisZo0O3Xs34NyVERTvMfL-CX3sOoKSOB5hnc2V1gy7c8m08mD0jyRh
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"list\": [\r\n    {\r\n      \"id\": 41,\r\n      \"tagName\":
        \"InitialApplicant\",\r\n      \"tagGroupName\": \"Imported Tags\",\r\n      \"contactsByTagUrl\":
        \"/api/Contact/ByTag/41\"\r\n    },\r\n    {\r\n      \"id\": 37,\r\n      \"tagName\":
        \"Applicant\",\r\n      \"tagGroupName\": \"Imported Tags\",\r\n      \"contactsByTagUrl\":
        \"/api/Contact/ByTag/37\"\r\n    },\r\n    {\r\n      \"id\": 46,\r\n      \"tagName\":
        \"PreApplicant\",\r\n      \"tagGroupName\": \"Imported Tags\",\r\n      \"contactsByTagUrl\":
        \"/api/Contact/ByTag/46\"\r\n    }\r\n  ],\r\n  \"total\": 3\r\n}"
  recorded_at: Mon, 09 Oct 2017 20:53:30 GMT
recorded_with: VCR 3.0.3
