---
http_interactions:
- request:
    method: get
    uri: https://api.virtuoussoftware.com/api/Tag?skip=0&take=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer CxvNvNzQjkXnwScptEMB2UK6nNjPt5iaZffqqd8vdUq_UMD9UyHgC2OsKa5IHirrC8UpWuuMp96YP_U4iFXEB6XGOrSfW3IU3bb5iPDrEVss4rY8f0Hprte3xU2sZNSO4EP4EQiwiw2wNRsdZKrgS_xOSfiRdaftLzM69tzp91uUy2o26VVWS-nZy5IUNnM6vjHhfOOSkh98zvOT8t8jSnLVUSL5na-3UdmFrKkwA5XfPbKQBN2JpAdNYlPURgdjMbRuPceb9F9Y66WXDipZFaDO_2HepIIcyv1O_EtDO1H3D6CVAK6dQPTb0hewmJJsv-jkYvCpU23_7iVbKL1ZIk_VspxhAG8ApE0gxLR0WLPA-GvI5Gzhx225LoQdkl7nOGYj5QQW84OQaiwWAIb96MLLs0CM9dNFcJV7hPBcJ9OvoIEW3X65TWTTw8afN_18ygGI-j96AXCXZ1KfjHLSsQAzj-tSpNbkFaJ3uWg4EY4KS0ADDEjNyabRZnQoN3z-OfrCVRYuRHnjAVXlg018b6WAqUngnHT9_E2uSu9hLecfzaHppgkkoN24hgimhPXi7XYL3w
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"list\": [\r\n    {\r\n      \"id\": 39,\r\n      \"tagName\":
        \"Academy Leadership Team\",\r\n      \"tagGroupName\": \"Imported Tags\",\r\n
        \     \"contactsByTagUrl\": \"/api/Contact/ByTag/39\"\r\n    },\r\n    {\r\n
        \     \"id\": 28,\r\n      \"tagName\": \"Affiliate Pastor\",\r\n      \"tagGroupName\":
        \"Imported Tags\",\r\n      \"contactsByTagUrl\": \"/api/Contact/ByTag/28\"\r\n
        \   },\r\n    {\r\n      \"id\": 47,\r\n      \"tagName\": \"Applicant\",\r\n
        \     \"tagGroupName\": \"Groups\",\r\n      \"contactsByTagUrl\": \"/api/Contact/ByTag/47\"\r\n
        \   },\r\n    {\r\n      \"id\": 48,\r\n      \"tagName\": \"Appli[...]
- request:
    method: post
    uri: https://api.virtuoussoftware.com/api/Tag/Search?skip=0&take=10
    body:
      encoding: UTF-8
      string: '{"search":"Applicant"}'
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer CxvNvNzQjkXnwScptEMB2UK6nNjPt5iaZffqqd8vdUq_UMD9UyHgC2OsKa5IHirrC8UpWuuMp96YP_U4iFXEB6XGOrSfW3IU3bb5iPDrEVss4rY8f0Hprte3xU2sZNSO4EP4EQiwiw2wNRsdZKrgS_xOSfiRdaftLzM69tzp91uUy2o26VVWS-nZy5IUNnM6vjHhfOOSkh98zvOT8t8jSnLVUSL5na-3UdmFrKkwA5XfPbKQBN2JpAdNYlPURgdjMbRuPceb9F9Y66WXDipZFaDO_2HepIIcyv1O_EtDO1H3D6CVAK6dQPTb0hewmJJsv-jkYvCpU23_7iVbKL1ZIk_VspxhAG8ApE0gxLR0WLPA-GvI5Gzhx225LoQdkl7nOGYj5QQW84OQaiwWAIb9[...]
